.addIcon {
  height: 50px;
  width: 50px;
}

.home, img {
    display: inline-block
  }
  
  li {
    display: inline-block;
    margin-right: 30px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .closetItem, img {
    display: inline-block;
    object-fit: cover;
    height: 275px;
    width: 175px;
}

ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 5px;
  }
  
  li img {
    display: inline-block;
    margin-right: 30px;
    margin: 5px;
  }
  
  