.dressMeImages, img {
    display: inline-block;
    object-fit: cover;
    
}

.dressMe {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.dressMeHeader {
    text-align: center;
}
