.dateWorn {
    margin-bottom: 20px ;
}

.descriptionHeader {
    text-transform: capitalize;
    margin-top: '10px'
}

.descriptionImg, img {
    display: inline-block;
    object-fit: cover;
    height: 275px;
    width: 275px;
}

