.image-cropper {
  display: inline-block;
  position: relative;
}

.avatar {
  margin-top: 10px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
  position: relative;
}

.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  margin: 0 0 10px;
  background-color: #0093E9;
  background-image: linear-gradient(29deg, #0093E9 0%, #80D0C7 74%);
  
  overflow: hidden;
}

/* .nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #00acb0;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;  */

  /* these last two make the logout button in
  the nav bar look like another link */
  /* border:none;
  cursor: pointer;
  outline:0;
}  */

.nav-link:hover {
  background-color: #008183;
}

.nav-right {
  float: right;
}